<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
    
    <body>
        <% include ../partials/navbar.ejs %>

        <div class="container-fluid">
        <h3>Filters</h3>
            <div class="row">
            <form method="post" action="/weapon_search">
              <div class="col-md-1">

                <div class="panel panel-default">
                <div class="panel-body">
                  <input type="submit" value="Search" class="btn btn-secondary btn-block">
                  <button type="reset" value="Reset" class="btn btn-secondary btn-block">Reset</button>
                </div></div>

              <% include ../partials/primary.ejs %>

              <% include ../partials/augments.ejs %>

              </div>

              <div class="col-md-1">
                  <% include ../partials/secondary.ejs %>
                  
                  <% include ../partials/melee.ejs %>

                  <% include ../partials/gen.ejs %>

              </form>
              </div>

              <div class="col-md-10">
                <h3>Search results</h3>
                
                <% if (typeof data !== 'undefined') {%>
                  
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Merc</th>
                        <th scope="col">Gen</th>
                        <th scope="col">Code</th>
                        <th scope="col">Primary</th>
                        <th scope="col">Secondary</th>
                        <th scope="col">Melee</th>
                        <th scope="col">Augment 1</th>
                        <th scope="col">Augment 2</th>
                        <th scope="col">Augment 3</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% for (var i = 0; i < data.length; i++) { %>
                      <tr>
                        <th scope="row"> <%= i+1 %> </th>
                        <td><%= data[i].Merc %></td>
                        <td><%= data[i].Generation %></td>
                        <td><%= data[i].Slot1 + data[i].Slot2 + data[i].Slot3 %> </td>
                        <td><%= data[i].PrimaryName %> </td>
                        <td><%= data[i].SecondaryName %> </td>
                        <td><%= data[i].MeleeName %> </td>
                        <td><%= data[i].Augment1 %> </td>
                        <td><%= data[i].Augment2 %> </td>
                        <td><%= data[i].Augment3 %> </td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>



                <% } %>
              </div>
            </div>
          </div>

    <br>
    <input type="image" src="https://cdn.discordapp.com/attachments/122446271804997634/457639888888528896/big_cube.png" />
    </body>
</html>