<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
    
    <body>
        <% include ../partials/navbar.ejs %>

        <div class="container-fluid">
            <div class="row">
              <div class="col-sm-2">
                <h3>Filters</h3>
                <form method="post" action="/weapon_search">
                  <input type="submit" value="Search">

                  <h4>Primary</h4>
                  <h6>
                  <input type="radio" name="primary" value="any" checked="checked"> Any<br>
                  <input type="radio" name="primary" value="CR"> Crotzni<br>
                  <input type="radio" name="primary" value="SM"> SMG-9<br>
                  <input type="radio" name="primary" value="BL"> Blishlok
                  </h6>
                  
                  <h4>Secondary</h4>
                  <h6>
                  <input type="radio" name="secondary" value="any" checked="checked"> Any<br>
                  <input type="radio" name="secondary" value="4"> M9<br>
                  <input type="radio" name="secondary" value="7"> Caulden<br>
                  <input type="radio" name="secondary" value="8"> Selbstadt .40 
                  </h6>

                  <h4>Melee</h4>
                  <h6>
                  <input type="radio" name="melee" value="any" checked="checked"> Any<br>
                  <input type="radio" name="melee" value="1"> Beckhill Combat Knife<br>
                  <input type="radio" name="melee" value="2"> Stilnotto Stiletto<br>
                  <input type="radio" name="melee" value="3"> Cricket Bat 
                  </h6>

                </form>
              </div>

              <div class="col-sm-10">
                <h3>Search results</h3>
                
                <% if (typeof data !== 'undefined') {%>
                  
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Merc</th>
                        <th scope="col">Gen</th>
                        <th scope="col">Code</th>
                        <th scope="col">Primary</th>
                        <th scope="col">Secondary</th>
                        <th scope="col">Melee</th>
                        <th scope="col">Augment 1</th>
                        <th scope="col">Augment 2</th>
                        <th scope="col">Augment 3</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% for (var i = 0; i < data.length; i++) { %>
                      <tr>
                        <th scope="row"> <%= i+1 %> </th>
                        <td><%= data[i].Merc %></td>
                        <td><%= data[i].Generation %></td>
                        <td><%= data[i].Slot1 + data[i].Slot2 + data[i].Slot3 %> </td>
                        <td><%= data[i].PrimaryName %> </td>
                        <td><%= data[i].SecondaryName %> </td>
                        <td><%= data[i].MeleeName %> </td>
                        <td><%= data[i].Augment1 %> </td>
                        <td><%= data[i].Augment2 %> </td>
                        <td><%= data[i].Augment3 %> </td>
                      </tr>
                      <% } %>
                    </tbody>
                  </table>



                <% } %>
              </div>
            </div>
          </div>

    <br>
    <input type="image" src="https://cdn.discordapp.com/attachments/122446271804997634/457639888888528896/big_cube.png" />
    </body>
</html>